<div id="category-modal" class="modal-overlay modal-top">
  <div class="modal-window">
    <button class="modal-close" data-close-modal>✕</button>
    <%- include('../category/form.ejs') %>
  </div>
</div>
