<div id="change-password-modal" class="modal-overlay modal-top">
  <div class="modal-window">
    <button class="modal-close" data-close-modal>✕</button>
    <h2 class="modal-title">Сменить пароль</h2>
    <form hx-post="/api/password-change" hx-ext="json-enc">
      <div class="form-group">
        <label>Текущий пароль</label>
        <input type="password" name="oldPass" placeholder="Введите текущий пароль" required />
      </div>
      <div class="form-group">
        <label>Новый пароль</label>
        <input type="password" name="newPass" placeholder="Введите новый пароль" required />
      </div>
      <div class="form-group">
        <label>Подтвердите новый пароль</label>
        <input type="password" name="confirmPass" placeholder="Повторите новый пароль" required />
      </div>
      <button type="submit" class="btn">Сменить пароль</button>
    </form>
  </div>
</div>
