<div id="transaction-modal" class="modal-overlay">
  <div class="modal-window">
    <button class="modal-close" data-close-modal>✕</button>
    <%- include('../transaction/createTransactionFrom.ejs') %>
  </div>
</div>
